.products{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.product-container{
    margin: 30px;
    width: 300px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image-container{
    text-align: center;
}
.image-container img{
    width: 190px;
    height: 230px;
    object-fit: contain;
    transition: width 0.2s ease, height 0.2s ease;
}
.image-container img:hover{
    width: 210px;
    height: 250px;
}
.description h3, .description h5{
    font-weight: 400;
}
.btn{
    margin-top: 5px;
}